<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">BeerTag</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#" th:href="@{/about}">About</a></li>
            <li><a href="#" th:href="@{/BeerProjectPage}">Project</a></li>
            <li><a href="#" th:href="@{/beers}">Browse beers</a></li>
            <li><a href="#" th:href="@{/beers/new}">Create beer</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" th:href="@{/register_page}">Sign Up <i class="fa fa-userDetails-plus"></i></a></li>
            <li><a href="#" th:href="@{/login}">Login<i class="fa fa-userDetails"></i></a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div>
<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>
<footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
</footer>
</body>
</html>